{% load cust_filters %}


<div class="modal fade" id="chatCreationModal" tabindex="-1" aria-labelledby="chatCreationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="chatCreationModalLabel">Dodać czat</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="search-tab" data-bs-toggle="tab"
                            data-bs-target="#search-tab-pane" type="button" role="tab"
                            aria-controls="search-tab-pane" aria-selected="true">Szukaj</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="add-tab" data-bs-toggle="tab"
                            data-bs-target="#add-tab-pane" type="button" role="tab"
                            aria-controls="add-tab-pane" aria-selected="true">Stwórz</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="search-tab-pane" role="tabpanel"
                        aria-labelledby="private-tab" tabindex="0">
                        <div class="form-row align-items-center mt-2">
                            <input type="text" id="chat_search" class="form-control" placeholder="Zacznij wprowadzać nazwę grupy tu...">
                            <button class="btn mbtn search-btn all-center ms-3" onclick="search_chat()">
                                <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 6C13.7614 6 16 8.23858 16 11M16.6588 16.6549L21 21M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                        </div>
                        <form action="{% url 'users:add-friend' %}" method="post" id="user_add_form">
                            {% csrf_token %}
                            <div class="form-column mt-2" id="chatListCont">
                            
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="add-tab-pane" role="tabpanel" aria-labelledby="private-tab" tabindex="0">
                        <ul class="nav nav-tabs" id="innerTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="group-tab" data-bs-toggle="tab"
                                    data-bs-target="#group-tab-pane" type="button" role="tab"
                                    aria-controls="group-tab-pane" aria-selected="true">Grupa</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="private-tab" data-bs-toggle="tab"
                                    data-bs-target="#private-tab-pane" type="button" role="tab"
                                    aria-controls="private-tab-pane" aria-selected="false">Czat osobowy</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="innerTabContent">
                            <div class="tab-pane fade show active" id="group-tab-pane" role="tabpanel" aria-labelledby="group-tab" tabindex="0">
                                <form action="{% url 'users:add-chat' %}" method="post" enctype="multipart/form-data" class="mt-4">
                                    {% csrf_token %}
                                        <label for="gr-n" class="form-label">Nazwa:</label>
                                        <input type="text" class="form-control" id="gr-n" name="nazwa">
                                    <hr>
                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="chat_img_inp">Wybierz ikonę:</label>
                                        <input type="file" accept="image/jpeg, image/png" class="form-control" id="chat_img_inp" name="ikona">
                                    </div>
                                    <hr>
                                    <div class="form-column">
                                        <label>Uczestnicy:</label>
                                        <div class="ps-4 mt-2">
                                            {% if request.user.przyjaciele.0 %}
                                                {% for user in request.user.przyjaciele.0 %}
                                                    <div class="form-row mt-2">
                                                        <input type="checkbox" class="form-check-input me-2" id="usr_{{ user }}" name="{{ user }}" value="1">
                                                        <label for="usr_{{ user }}" class="form-check-label">{{ user|imie }}</label>
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                <p>Nie masz jeszcze przyjaciele. Możesz dodać uczęstników później</p>
                                            {% endif %}
                                        </div>
                                            
                                    </div>
                                    <button type="submit" class="btn mbtn">Stwórz</button>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="private-tab-pane" role="tabpanel" aria-labelledby="private-tab" tabindex="0">
                                <p>Wybierz przyjaciela:</p>
                                
                                {% for friend in request.user.dostepne_przyjaciele %}
                                    <a href="{% url 'users:start-private' friend.id %}" class="mini-card shadow">
                                        <img src="{{ friend.awatar.url }}" class="img-fluid rounded" alt="Avatar">
                                        <h6>{{ friend.pelne_imie }}</h6>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>