{% extends 'users/base.html' %}
{% load static %}
{% load cust_filters %}




{% block content %}
    <aside class="shadow">

        {% if chats %}
            
            {% for chat in chats %}
                <a href="{% url 'users:chat' chat.nazwa %}" class="chat-href">
                    <div class="m-3 d-flex shadow chat-preview">
                        <div class="d-flex chat-icon-n-name">
                            <img src="{{ chat.icon.url }}" class="img-fluid rounded chat-icon" alt="Chat icon">
                            <div class="chat-name">
                                <h6>{{ chat.nazwa }}</h6>
                                {% if user.ostatni_czat == chat.nazwa %}
                                    <div class="is-selected-identifier"></div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="chat-last-message mt-2">
                            <p class="m-0 last-message">{{ chat|get_last_message }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}

        {% else %}
            <div class="no-chats">
                <h5>Jeszcze nie masz żadnych czatów. Możesz ich stworzyć albo wyszukać używając przycisku niżej</h5>
                
            </div>
                
        {% endif %}

        <button type="button" class="btn create-chat-btn shadow-lg" data-bs-toggle="modal"
            data-bs-target="#chatCreationModal">
            <img src="{% static 'img/pen-field.svg' %}" alt="pen" class="pen">
        </button>

        <!-- Modal -->
        {% include 'users/chat_adding.html' %}


    </aside>

    <main>

        {% if messages_ %}
        
            {% for message_ in messages_ %}
                {% if message_.nadawca.imie|eq:user.pelne_imie %}
                    <div class="d-flex message flex-row-reverse">
                        <div class="my-pre-mes-av">
                            <img src="{{ user.avatar.url }}" class="img-fluid" alt="Avatar">
                        </div>
                        <div class="my-message-body shadow-sm border border-black" onclick="delete_message(this)">
                            <input type="hidden" value="{{ message_.id }}">
                            <p>{{ message_.tekst }}</p>
                            <div class="time-sended my-time-sended">
                                <p>{{ message_.czas_wysylki }}</p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="d-flex message">
                        <div class="pre-mes-av">
                            <img src="{{ message_.nadawca.avatar }}" class="img-fluid" alt="Avatar">
                        </div>

                        <div class="message-body shadow-sm border border-black" onclick="delete_message(this)">
                            <input type="hidden" value="{{ message_.id }}">
                            <p class="message-sender">{{ message_.nadawca.imie }}</p>
                            <p>{{ message_.tekst }}</p>
                            <div class="time-sended">
                                <p>{{ message_.czas_wysylki }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                
            {% endfor %}
        
        {% else %}
            <div class="all-center" style="height: 100%; width: 100%; color: #bebebe;">
                <h2>Na razie tu nie ma żadnych powiadomień :(</h2>
                
            </div>

        {% endif %}



    </main>

    <div class="message-input-block">
        <hr>
        <form action="/" method="post">
            {% csrf_token %}
            <!-- <div>
                <input type="file" class="image-input" accept="image/jpeg, image/png" placeholder="0">
            </div> -->
            <div class="d-flex">
                <input type="text" class="form-control" placeholder="Napisz wiadomość tu..." name="message_text"{% if not user.ostatni_czat %} disabled{% endif %}>
                <button type="submit" class="btn sendbtn"{% if not user.ostatni_czat %} disabled{% endif %}>➤</button>
            </div>
        </form>
    </div>
{% endblock content %}
    

